
<html> 
    <!-- Head Starts -->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <title> Address Book.</title>
    </head>
    <!-- Head ends -->

    <!-- Body starts -->
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container-fluid">
                    <!-- <a class="navbar-brand" href="#">Address Book !</a> -->
                    <a class="navbar-brand mb-0 h1" href="#">Address Book.</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="/">Addresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add">Add</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="row">
                <div class="container mt-3">
                    
                    <h3>About</h3>
                    <p>
                        <b> Bismillah hir Rahmaner Rahim</b>
                        <br>
                        This is a test address book project. in this project i created a Address book with Express and Mysql 



                    </p>
                   
                    
                </div>
            </div>
        </div>
    </body>
    <!-- Body ends -->
</html>